# Angular
frontend-angular/node_modules/
frontend-angular/dist/
frontend-angular/.angular/

# Spring
backend-springboot/target/
backend-springboot/build/

# IDE
.idea/
.vscode/

# Logs
*.log

# Banco
postgres-data/

# Uploads
anexos/

# Backups
backups/

# Docker
.env
*.zip

# Testes
teste*
anexo-baixado.txt

# Maven local
empty-settings.xml