# Angular
node_modules/
dist/
.angular/

# Spring
target/
build/

# IDE
.idea/
.vscode/

# Logs
*.log

# Banco
postgres-data/

# Uploads
anexos/

# Backups
backups/

# Docker
.env

*.zip

teste*
anexo-baixado.txt