<section class="detalhe-page">
  <p *ngIf="carregando">Carregando paciente...</p>

  <p *ngIf="erro" class="erro">{{ erro }}</p>

  <div *ngIf="paciente" class="card">

    <a routerLink="/pacientes" class="link-voltar">
      ← Voltar
    </a>

    <div class="topo">
      <div>
        <h1>{{ paciente.nome }}</h1>
        <p>Prontuário do paciente</p>
      </div>

      <a [routerLink]="['/pacientes', paciente.id, 'editar']" class="link-editar">
        ✏️ Editar cadastro
      </a>
    </div>

    <div class="dados-grid">
      <div class="item">
        <strong>CPF</strong>
        <span>{{ formatarCpf(paciente.cpf) }}</span>
      </div>

      <div class="item">
        <strong>Telefone</strong>
        <span>{{ formatarTelefone(paciente.telefone) }}</span>
      </div>

      <div class="item">
        <strong>Email</strong>
        <span>{{ paciente.email || '-' }}</span>
      </div>

      <div class="item">
        <strong>Data de nascimento</strong>
        <span>{{ formatarData(paciente.dataNascimento) }}</span>
      </div>

      <div class="item observacoes">
        <strong>Observações</strong>
        <span>{{ paciente.observacoes || '-' }}</span>
      </div>
    </div>

    <div class="modulos">
      <div class="coluna-esquerda">
        <app-anamnese-card [pacienteId]="paciente.id"></app-anamnese-card>
        <app-odontograma-card [pacienteId]="paciente.id"></app-odontograma-card>
      </div>

      <div class="coluna-direita">

        <div class="modulo documentos-clinicos">
          <div class="modulo-header">
            <div>
              <h2>Documentos clínicos</h2>
              <p>Emissão de documentos do paciente</p>
            </div>
          </div>

          <button
            type="button"
            class="btn-documento"
            (click)="abrirAtestado()">
            📄 Gerar Atestado
          </button>
        </div>

        <app-atendimentos-card [pacienteId]="paciente.id"></app-atendimentos-card>

        <div class="modulo">
          <app-anexos-card [pacienteId]="paciente.id"></app-anexos-card>
        </div>
      </div>
    </div>

  </div>
</section>

<div *ngIf="exibindoAtestado" class="modal-fundo">
  <div class="modal-card">
    <h2>Gerar Atestado</h2>

    <p class="modal-descricao">
      Edite o texto que será exibido no atestado do paciente.
    </p>

    <label>
      Texto do atestado *
      <textarea
        rows="8"
        name="textoAtestado"
        [(ngModel)]="textoAtestado">
      </textarea>
    </label>

    <div class="acoes-form">
      <button
        type="button"
        class="btn-primary"
        [disabled]="gerandoAtestado"
        (click)="gerarAtestado()">
        {{ gerandoAtestado ? 'Gerando PDF...' : 'Gerar PDF' }}
      </button>

      <button
        type="button"
        class="btn-secondary"
        (click)="cancelarAtestado()">
        Cancelar
      </button>
    </div>
  </div>
</div>