<router-outlet *ngIf="isLoginPage()"></router-outlet>

<div class="layout" *ngIf="!isLoginPage()">

  <aside class="sidebar">
    <div class="logo">
      <div class="logo-icon">
        <img src="/LogoSisOdonto.png" alt="Consultório Odonto">
      </div>

      <div>
        <h1>Prontuário Odontológico</h1>
      </div>
    </div>

    <nav class="menu">
      <a *ngIf="isAdmin()" routerLink="/usuarios" routerLinkActive="ativo">
        👤 Usuários
      </a>
      <a routerLink="/pacientes" routerLinkActive="ativo">
        👥 Pacientes
      </a>
      <a routerLink="/minha-senha" routerLinkActive="ativo">
        🔑 Alterar senha
      </a>
    </nav>
  </aside>

  <div class="main-area">
    <header class="topbar">
      <div class="topbar-brand">
        <img src="/LogoSisOdonto.png" alt="Consultório Odonto">
      </div>

      <div class="topbar-right">
        <div class="usuario">
          <div class="avatar">{{ iniciaisUsuario() }}</div>

          <div>
            <strong>{{ nomeUsuario() }}</strong>
          </div>

          <button type="button" class="btn-sair" (click)="sair()">
            Sair
          </button>
        </div>
      </div>
    </header>

    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>